*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  overflow: hidden; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #2c2e30; }

.header {
  background-color: #fff;
  color: #24292e; }
  .header__box {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2.5rem; }
    .header__box::after {
      content: "";
      display: table;
      clear: both; }
  .header__brand {
    font-weight: 300;
    letter-spacing: .2rem;
    margin: 1.5rem 0;
    float: left; }
  .header__user {
    font-size: 1.4rem;
    float: right;
    margin-top: 2rem; }
    @media screen and (max-width: 45.625em) {
      .header__user {
        display: none;
        visibility: hidden; } }
  .header__username {
    color: #0984E3; }

.navigation {
  background-color: #055C9E;
  font-size: 1.4rem; }
  .navigation__toggle {
    display: none;
    visibility: hidden;
    width: 2.5rem;
    position: absolute;
    top: 1.65rem;
    right: 1.65rem;
    z-index: 500; }
    .navigation__toggle:hover {
      cursor: pointer; }
    .navigation__toggle-line {
      height: 3px;
      background-color: #000;
      width: 100%;
      display: block;
      margin-bottom: 4px;
      transition: all .2s; }
    @media screen and (max-width: 45.625em) {
      .navigation__toggle {
        display: block;
        visibility: visible; } }
  .navigation__toggle--opened + .navigation__box {
    left: 0; }
  .navigation__box {
    max-width: 120rem;
    margin: 0 auto;
    transition: left .5s ease-out; }
    @media screen and (max-width: 45.625em) {
      .navigation__box {
        position: absolute;
        top: 5rem;
        width: 100%;
        left: -100%;
        box-shadow: 1rem 0 3rem rgba(0, 0, 0, 0.15);
        height: calc(100vh - 5rem);
        z-index: 1000; } }
  .navigation__list {
    list-style: none; }
    .navigation__list::after {
      content: "";
      display: table;
      clear: both; }
  .navigation__item {
    float: left;
    position: relative; }
    .navigation__item:hover .navigation__list--nested {
      visibility: visible; }
    @media screen and (max-width: 45.625em) {
      .navigation__item {
        display: block;
        float: none;
        width: 100%; } }
  .navigation__link:link, .navigation__link:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border-right: 1px solid #eee;
    padding: 1em 2.5rem; }
    @media screen and (max-width: 45.625em) {
      .navigation__link:link, .navigation__link:visited {
        border-right: none;
        display: block;
        background-color: #0984E3; } }
  .navigation__link:hover, .navigation__link--active {
    background-color: #0A81DC; }
  .navigation__list--nested {
    position: absolute;
    z-index: 500;
    min-width: 23rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    visibility: hidden; }
    @media screen and (max-width: 45.625em) {
      .navigation__list--nested {
        z-index: 0;
        width: 100%;
        display: block;
        box-shadow: none;
        background-color: #fff;
        position: static;
        visibility: visible; } }
  .navigation__list--nested .navigation__item {
    float: none;
    width: 100%; }
  .navigation__list--nested .navigation__link:link, .navigation__list--nested .navigation__link:visited {
    background-color: #fff;
    color: #000;
    display: block;
    border: none; }
  .navigation__list--nested .navigation__link:hover, .navigation__list--nested .navigation__link--active {
    background-color: rgba(0, 0, 0, 0.05); }

.content__box {
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 120rem;
  margin: 0 auto; }
