.header {
    background-color: $color-white;;
    color: $color-dark;

    &__box {
        max-width: 120rem;
        margin: 0 auto;
        padding: 0 2.5rem;
        @include clearfix;
    }

    &__brand {
        font-weight: 300;
        letter-spacing: .2rem;
        margin: 1.5rem 0;
        float: left;
    }

    &__user {
        font-size: 1.4rem;
        float: right;
        margin-top: 2rem;

        @media screen and (max-width: 45.625em) {
            & {
                display: none;
                visibility: hidden;
            }
        }
    }

    &__username {
        color: $color-primary;
    }
}