.navigation {
    background-color: $color-primary-darkest;
    font-size: 1.4rem;

    &__toggle {
        display: none;
        visibility: hidden;
        width: 2.5rem;
        position: absolute;
        top: 2rem;
        right: 2rem;

        &:hover {
            cursor: pointer;
        }

        &:hover &-line {
            margin-bottom: .4rem;
        }

        &-line {
            height: .2rem;
            background-color: $color-black;
            width: 100%;
            display: block;
            margin-bottom: .35rem;
            transition: all .2s;
        }

        @media screen and (max-width: 45.625em) {
            & {
                display: block;
                visibility: visible;
            }
        }
    }

    &__toggle--opened + &__box {
        right: 0;
        width: 100%;
        // display: block;
        // visibility: visible;
    }

    &__box {
        max-width: 120rem;
        margin: 0 auto;
        transition: right .8s ease;
        
        @media screen and (max-width: 45.625em) {
            & {
                // default state with nav closed
                position: fixed;
                top: 5rem;
                width: 100%;
                right: -100%;
                box-shadow: 0 0 3rem rgba($color-black, .15);
                height: calc(100vh - 5rem);
                // display: none;
                // visibility: hidden;

                z-index: 1000;
            }
        }
    }

    &__list {
        list-style: none;
        @include clearfix;
    }

    &__item {
        display: block;
        float: left;
        position: relative;

        &:hover .navigation__list--nested {
            visibility: visible;
        }

        @media screen and (max-width: 45.625em) {
            & {
                display: block;
                float: none;
                width: 100%;
            }
        }
    }

    &__link {

        &:link,
        &:visited {
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            border-right: 1px solid $color-grey-light-2;
            padding: 1em 2.5rem;

            @media screen and (max-width: 45.625em) {
                & {
                    border-right: none;
                    display: block;
                    background-color: #0A81DC;
                }
            }
        }

        &:hover,
        &--active {
            background-color: $color-primary-darker;
        }
    }

    &__list--nested {
        position: absolute;
        z-index: 500;
        min-width: 23rem;
        box-shadow: 0 0 1rem rgba($color-black, .25);
        visibility: hidden;

        @media screen and (max-width: 45.625em) {
            z-index: 0;
            width: 100%;
            display: block;
            box-shadow: none;
            background-color: $color-white;
            position: static;
            visibility: visible;
        }
    }

    &__list--nested &__item {
        float: none;
        width: 100%;
    }

    &__list--nested &__link {
        &:link,
        &:visited {
            background-color: $color-white;
            color: $color-black;
            display: block;
            border: none;

        }

        &:hover,
        &--active {
            background-color: rgba($color-black, .05);
        }
    }
}