// COLORS
$color-primary: #0984E3;
$color-primary-light: #50A3E3;
$color-primary-medium: #4BA4E8;
$color-primary-darker: #0A81DC;
$color-primary-darkest: #055C9E;

$color-white: #fff;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #2c2e30;
$color-dark: #24292e;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID


// BORDERS
$border-radius-small: .3rem;